body {
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #1c3e57;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 5px;
}

h2 {
  font-size: 21px;
  margin: 0;
  font-weight: 500;
  line-height: 21px;
  padding-bottom: 5px;
}

h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 5px;
}

a {
  color: #4F66EE;
  text-decoration: underline;
}

a:hover {
  color: #101010;
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#visual {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#map {
  flex-basis: 65vw;
  height: 100vh;
}

#sidebar {
  margin: auto;
  flex-basis: 35vw;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  border-left: thin solid #e3e3ee;
  border-bottom: thin solid #e3e3ee;
}

.sidebar__heading {
  border-bottom: 1px solid #eee;
  min-height: 60px;
  padding: 10px;
  background-color: #A9D6EA;
  color: #1c3e57;
}

.sidebar__content {
  padding: 10px;
}



#dynamic_content {
  margin-top: 0;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  width: 260px;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  margin: 60px 10px;
}

#legend h2 {
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}

.legend-note {
  margin-bottom: 15px;
}

.legend-other {
  margin-top: 10px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  font-size: 15px;
  opacity: 0.9;
}

.legend-key__no-rate {
  background: #eff3ff url(noun_dots_10563.svg);
  opacity: 0.6;
}

.legend-key__no-count {
  background: #adadad;
  opacity: 0.6;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 35vw;
  background: rgba(0, 0, 0, 0.9);
  margin-right: 20px;
  overflow: auto;
  border-radius: 3px;
}

#fit {
  display: block;
  position: absolute;
  top: 0;
  left: calc(35vw + 275px);
  margin: 10px;
  }

  .sfgov-cta-button__container button {
    background: #4f66ee;
    font-family: "Rubik", sans-serif;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 13px 20px 11px;
    text-align: center;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    margin: 0.5em 0.5em 0.5em 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    width: auto;
    line-height: 17px;
  }
  
  .sfgov-cta-button__container button:hover {
    background: #0c1464;
  }
  
  .sfgov-cta-button__container div.field {
    padding: 0;
  }

  .mapboxgl-popup {
    max-width: 350px;
  }
  
  .mapboxgl-popup-content {
    font-family: 'Rubik', sans-serif;
    background-color: #101010;
    color: #fff;
    margin: 0;
    padding: 5px 10px;
  }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #101010;
    }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #101010;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #101010;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #101010;
    }

.mapboxgl-ctrl-geocoder {
  width: auto;
}

.mapboxgl-ctrl-geocoder--input {
    height: 41px;
  }
  

@media only screen and (max-width: 600px) {
  #visual {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #map {
    flex-basis: 55vh;
    height: 60vh;
    width: 100vw;
  }
  
  #sidebar {
    margin: auto;
    flex-basis: 45vh;
    width: 100vw;
    overflow: auto;
    background-color: #ffffff;
    border-left: thin solid #e3e3ee;
    border-bottom: thin solid #e3e3ee;
  }

  .map-overlay {
    top: auto;
    left: 0;
    bottom: 35px;
    margin: 0;
    overflow: auto;
    border-radius: 3px;
  }

  #legend h2 {
    font-size: 12px;
    line-height: 12px;
  }

  #legend {
    padding: 10px;
    margin: 0;
    font-size: 12px;
    width: 130px;
  }

  #fit {
    top: auto;
    left: auto;
    right: 35px;
    bottom: 0;
  }

  .sfgov-cta-button__container button {
    font-size: 13px;
  }
  .mapboxgl-ctrl-geocoder {
    display: none;
  }
}